@import 'common';
#shopbtn {
    font-size: 30px;
    padding: 5px 10px;
    border: 1px solid red;
    margin-bottom: 20px;
    cursor: pointer;
  }
  p,button {
    margin-left: 80px;
  }
  img {
    margin-left: 40px;
  }
  