@import 'common';
#header {
    width: 100%;
    height: 37px;
    // background: pink;
    border-bottom: 1px solid #e6e6e6;
  }
    .top {
      width: 1200px;
      height: 37px;
      margin: 0 auto;
      position: relative;
      background: #f5f5f5;
   
  }
  .top {
    .top_1 {
      width: 320px;
      height: 37px;
      float: left;
      line-height: 37px;
      text-align: center;
      span {
        margin-right: 23px;
        color: #000000;
        font-size: 12px;
      }
    }
    .top_2 {
      width: 730px;
      height: 37px;
      font-size: 12px;
      float: right;
      line-height: 37px;
      text-align: center;
    }
  }
  .top_2 {
    li {
      position: relative;
      float: left;
      margin: 0 10px;
      a {
        color: #000000;
        &:hover {
          border-bottom: 1px solid red;
          color: red;
        }
      }
      .didi {  
        text-align: center;
        margin-left: 100px;
      }
    }
    .li_last {
      p {
        width: 150px;
        right: -20px;
        position: absolute;
        font-size: 12px;
        display: none;
        background: #f5f5f5;
      }
      &:hover {
        p {
          display: block;
          border: 1px solid #e6e6e6;
          border: none;
        }
      }
    }
    .border {
      a {
        padding-right: 15px;
        border-right: 1px solid #cc0000;
      }
    }
    .shou {
      i {
        vertical-align: middle;
        font-size: 22px;
        color: red;
        font-weight: 500;
      }
      a {
        vertical-align: middle;
        font-size: 12px;
        &:hover {
          background: white;
          border-bottom: 0;
        }
      }
      img {
        width: 100px;
        left: 0;
        position: absolute;
        font-size: 12px;
        display: none;
        border: 1px solid #cc0;
        background: white;
      }
      &:hover {
        img {
          display: block;
        }
      }
    }
  }

  /*第二部分*/
#logo {
    width: 100%;
    height: 92px;
    // background: pink;
    margin-bottom: 20px;
   
    .logoh {
        
      width: 1200px;
      height: 101px;  
      margin: 0 auto;
      padding-top: 30px;
      .logoLeft{
          width: 300px;
          height: 50px;
          float: left;
    }
    
    .logoRight{
        float: right;
        width: 520px;
        height: 38px;
        display: block;
        font-size: 12px;
        color: #333;
        .li_1{     
        width: 90px;
        height: 36px;                   
        float: left;
        background: #e02d2d url(../images/images/bei_1_03.jpg) no-repeat right center;
        
        text-align: center;
        line-height: 36px;    
        }
        .li_2,.li_3,.li_4{     
        text-align: center;
        line-height: 36px;
        height: 36px;                   
        float: left;
        width: 90px;
        background:#e6e6e6 url(../images/images/beijing_2_03.jpg) no-repeat right center;
        } 
        .li_5{ 
            text-align: center;    
            padding: 0;
            background: #e6e6e6;
            height: 36px;     
            float: left;
            width: 90px;
            line-height: 36px;
        }                               
    }
  }
}
.zhuang{
    width: 1200px;
    height: 30px;
    margin: 0 auto;   
    p{
        width: 150px;
        font-size: 16px;
        line-height: 30px;
        margin-left: 1100px;
        float: right;
    }
}


.jie{
    width: 1200px;
    height: 46px;
    margin: 0 auto;
    clear: both;
    p{
        width: 170px;
        height: 46px;
        font-size: 12px;
        color: #999999;
        line-height: 46px;
       float: right;
        span{
            line-height: 46px;
            color: #ff0000;
            font-size: 12px;
            
        }
    }
    #suan{
        width: 73px;      
        height: 28px;
        margin-top: 10px;
        border: 1px solid #fe9400;
        font-size: 12px;
        background: #f9a800;
        color: #fff;
        float: right;
    }
    
   
}

.shopinfo {
  width: 1228px;
  height: auto;
  overflow: hidden;
  margin: 3px auto;
  li {
    margin: 10px 10px;
    float: left;
    width: 385px;
    height: 400px;
    border: 1px solid #605f5e;

    .pic_1 {
      img {
        width: 380px;
        height: 260px;
      }
    }
    .dp {
      width: 387px;
      height: 40px;
      .pp {
        font-size: 14px;
        color: #000;
      }
      .ppp {
        font-size: 12px;
        color: #918d8d;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .dh {
      width: 265px;
      height: 40px;
      .home {
        float: left;
        width: 265px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        .hh {
          font-size: 20px;
          margin-left: 5px;
          color: red;
          font-weight: 900;
          line-height: 40px;
        }
        .hhh {
          line-height: 40px;
          font-size: 16px;
          color: #b0b0b0;
          text-decoration: line-through;
          margin:0 35px 0 10px;
        }
        .hhhh {
          width: 50px;
          height: 20px;
          border: 1px solid red;
          line-height: 22px;
          color: red;
          font-size: 14px;
          padding:0 5px;
        }
      }
      button {
        width: 70px;
        height: 40px;
        float: right;
        background: #c31f1e;
        text-align: center;
        margin: 0 -100px;          
        line-height: 45px;
        font-size: 18px;
        color: #fff;
        
      }
    }
  }
}


.shoplist {
  width: 1050px;
  margin: 0 auto;
}
.shop-item {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  input[type="checkbox"] {
    width: 30px;
    height: 30px;
  }
  .fl {
    padding: 10px;
    width: 129px;
    display: block;
    font-style: normal;
    height: 150px;
    border: 1px solid #d1d1d1;
    margin-left: -1px;
    &:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
  .count {
    & > span {
      display: inline-block;
      width: 30px;
      height: 30px;
      border: 1px solid #d1d1d1;
      line-height: 30px;
      cursor: pointer;
      margin-left: 5px;
    }
  }
}
.fl {
  float: left;
}
#sum {
  width: 1050px;
  margin: 20px auto 100px;
  text-align: right;
}
